<style>
#container {
    margin: auto;
    max-width: 1280px;
    margin-top: 5em;
    margin-bottom: 60px;
    animation: cont 0.3s;
    border-radius: 3px;
    background-color: #fff;
    padding: 20px 0px 15px 0px;
    clear: both;
}
.about-me .counts, .about-me .profile {
    border-bottom: 1px solid #eee;
    margin: 0 0 3%;
    padding: 0 0 3%;
    text-align: center;
}
.about-me .avatar-450 {
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 100%;
    border: 3px solid #F2F5F7;
}
.avatar-450 {
    width: 30%;
    max-width: 150px;
    height: auto;
    border-radius: 100%;
}
.about-me .about-avatar, .about-me .info {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    margin-top: -15px;
}
.about-me .info {
    width: 30%;
    padding-left: 15px;
}
.about-me .info h1 {
    font-weight: 700;
    font-size: 20px;
    color: #333;
    word-break: break-all;
}
.about-me .info h1, .about-me p {
    color: rgba(0,0,0,.6);
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.repo-list{
    list-style: none;
}
li.repo{
    width: 32%;
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0.3%;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
    transition: all .3s linear;
}
li.repo:hover{
    box-shadow: 0 0 18px 0 rgba(0,0,0,.5);
}
li.repo h2 {
    margin-top: 20px;
    padding: 10px 20px 5px;
    color: #CE2323;
}
li.repo p.commit {
    padding: 0 20px 20px;
    font-size: 0.6em;
}
li p.fot{
    margin: 0 20px 15px;
}

li span.pic{
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
li span.language{
    padding-left: 20px;
    color: #767676;
}
@media all and (max-width:1440px){
    #container{max-width:1100px}
    .post-random .photo {width: 23%;}
}
@media (max-width: 999px) {
    #container {
        width: 95%;
        margin-top: 2em;
    }
}
@media screen and (max-width: 960px) {
    li.repo {
        display: block;
        width: 85%;
        margin: 10px auto;
    }
}
@media (max-width: 720px) {
    #container {
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 0px 0px, rgba(0, 0, 0, 0.298039) 0px 0px 0px 0px;
        width: 94%;
        margin: 10px auto auto -3px;
        padding: 15px;

    }
}

</style>
<div id="container">
    <div class="about-me about_mob" style="display: inherit;">
        <div class="profile">
            <img alt="" src="<%- theme.cover_avator %>"  class="avatar avatar-450 photo" height="450" width="450">
            <div class="info aboutinfo">
                <h1><span><%- config.title %></span>的代码库</h1>
                <p>永远相信</p>
                <p>美好的事情即将发生</p>
            </div>
        </div>
    </div>
    <div class="codeBox">
        <ol class="repo-list">
		<% for (var i in theme.project){ %>
		  <li class="repo">
                    <a href="<%- theme.project[i].url %>" target="_blank">
                    	<div class="content">
                          <h2 class="title"><%- theme.project[i].title %></h2>
                          <p class="commit"><%- theme.project[i].sub %></p>
                          <p class="fot">
                            <span class="pic" style="background-color: #f1e05a;"></span><span class="language"><%- theme.project[i].language %></span>
                          </p>
                        </div>
                    </a>
                  </li>
                <% } %>

        </ol>
    </div>
</div>
